:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --accent-hover-color:#188CE8
  --white-text-color: #ffffff;
  --button-grey-color: #f5f4fa;
  --main-bg-color: #e5e5e5;
  --secondary-bg-color: #f5f4fa;
  --bg-grey-color: #2f303a;
}
body{background-color: var(--main-bg-color);
color:var(--main-text-color) ;
}
/* section header */
.logo-accent{color:var(--accent-text-color);}
.logo-black-color{color:#000000;}
.navigation-linc{color:var(--title-text-color);}
.navigation-linc:hover{color:var(--accent-text-color);
.navigation-linc:focus{color:var(--accent-text-color);}