:root {
  --main-text-color: #212121;
  --text-color: #757575;
  --accent-text-color: #2196f3;
  --accent-hover-color:#188CE8
  --white-text-color: #fff;
  --button-grey-color: #f5f4fa;
  --main-bg-color: #e5e5e5;
  --secondary-bg-color: #f5f4fa;
  --bg-grey-color: #2f303a;
}
body{background-color: var(--main-bg-color);
color:var(--main-text-color) ;
font-family: Roboto, sans-serif;}
.list {list-style: none;}
.link {text-decoration: none;}

/* section header */
.logo{font-family: Raleway, sans-serif;
/* font-style: normal; */
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-decoration: none;
letter-spacing: 0.03em;}

.logo-accent{color:var(--accent-text-color);}
.logo-accent:hover{color:var(--accent-hover-color);}
.logo-black-color{color:#000000;}
.navigation-link{color:var(--main-text-color);}
.contact-mail-link{color:var(-)}
.navigation-link:hover{color:var(--accent-text-color);}
.navigation-link:focus{color:var(--accent-text-color);}

